.details {
    border: 0;
    float: right;
    font-size: 84.62%;
    margin: 8px 0 0 12px;
    padding: 0 12px 0 0
}

.details dd {
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 0 0 9px
}

.details dd .chzn-container-single .chzn-single span {
    margin-right: 12px
}

.details dd .chzn-results {
    font-size: inherit;
    margin: 0 !important;
    padding-left: 0
}

.details dt {
    color: #666;
    display: block;
    float: left;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 0 21px
}

.details dt:first-child {
    margin-left: 0
}

